API_KEY=apt-***
TWITTER_EMAIL=agent-email@gmail.com
TWITTER_PASSWORD=agent-password
TWITTER_USERNAME=agent-username
TWITTER_TWO_FACTOR_SECRET=4312ASDZ12345678
TWITTER_COOKIES='[{"key":"auth_token","value":"auth-token-value-goes-here","domain":".twitter.com"}, {"key":"ct0","value":"ct-value-goes-here","domain":".twitter.com"}, {"key":"guest_id","value":"guest-id-value-goes-here","domain":".twitter.com"}]'