GAME_DEV_API_KEY=apt-<acp-plugin-api-key-from-virtuals-devrel>
WHITELISTED_WALLET_PRIVATE_KEY=0x<whitelisted-wallet-private-key>
WHITELISTED_WALLET_ENTITY_ID=<whitelisted-wallet-entity-id>
ACP_AGENT_WALLET_ADDRESS_BUYER=0x<buyer-agent-wallet-address>
ACP_AGENT_WALLET_ADDRESS_SELLER=0x<seller-agent-wallet-address>

# Both buyer and seller Game API keys can be the same
GAME_API_KEY_BUYER=apt-<api-key-from-console.game.virtuals.io/>
GAME_API_KEY_SELLER=apt-<api-key-from-console.game.virtuals.io/>