# ACP Agents' Credentials
WHITELISTED_WALLET_PRIVATE_KEY=
WHITELISTED_WALLET_ENTITY_ID=
BUYER_AGENT_WALLET_ADDRESS=
SELLER_AGENT_WALLET_ADDRESS=

# GAME API Key (get from https://console.game.virtuals.io/)
GAME_API_KEY=
# GAME Dev API Key (get from Virtuals' DevRels)
GAME_DEV_API_KEY=

# GAME Twitter Access Token for X (Twitter) Authentication
BUYER_AGENT_GAME_TWITTER_ACCESS_TOKEN=
SELLER_AGENT_GAME_TWITTER_ACCESS_TOKEN=

# GAME Twitter Access Token for X (Twitter) Authentication
BUYER_AGENT_TWITTER_API_KEY=
BUYER_AGENT_TWITTER_API_SECRET_KEY=
BUYER_AGENT_TWITTER_ACCESS_TOKEN=
BUYER_AGENT_TWITTER_ACCESS_TOKEN_SECRET=
SELLER_AGENT_TWITTER_API_KEY=
SELLER_AGENT_TWITTER_API_SECRET_KEY=
SELLER_AGENT_TWITTER_ACCESS_TOKEN=
SELLER_AGENT_TWITTER_ACCESS_TOKEN_SECRET=
