GAME_API_KEY=

# Worker information
WORKER_ID=
WORKER_NAME=
WORKER_DESC=

# Primus SDK 
APP_ID=
APP_SECRET=

# Twitter account
TWITTER_USER_NAME=
TWITTER_PASSWORD=
TWITTER_EMAIL=
TWITTER_2FA_SECRET=#NOT NECESSARY, Only need for twitter 2FA